body {
  
  background-repeat: no-repeat;
  width: 100%;
}

#wholePage {
  background-image: url('../assets/turtle.jpg');
  background-repeat: repeat;

}

@keyframes colorTrans {
  0% {background-color: #88d1f5;}
  25% {background-color: #8d88f5;}
  50% {background-color: #ff3928;}
  75% {background-color: #fac967;}
  100% {background-color: #88d1f5;}

}
header {
  width: 100%;
  z-index: 2;
  background-color: #88d1f5;
  animation-name: colorTrans;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}
#titleImage {
  position: relative;
  width: 32%;
  left: 34%;
}
#navBar {
  position: relative;
  border: 2px solid black;
  text-align: center;
  z-index: 2;
  background-color: #8d88f5;
  animation-name: colorTrans;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-delay: 15s;
}
.navItems {
  position: relative;
  display: inline;
  border: 3%;
  padding: 1%;
  border-radius: 10px;
  border: 3px solid black;
  z-index: 2;
  font-family: monospace;
  font-size: 13px;
  background-color: #ff3928;
  animation-name: colorTrans;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-delay: 30s;
}
main {
  background-color: black;
  color: white;
  width: 100%;

}

#name {
  color: white;
  border: yellow;
  border-style: double;
  border-radius: 3%;  
}

p#statement {
  text-align: center;
}

.ourPics {
  width: 200px;
  height: 200px;
}
#names {
  font-size: 220%;
  left: 3%;
}
td {
  padding-left: 120px;
}
#statement {
  position: absolute;
  padding-top: 5%;
  bottom: 20%;
  text-align: center;
}
table {
  position: absolute;
  top: 30%;
}
#foot {
  position: fixed;
  padding: 1%;
  width:100%;
  text-align: center;
  bottom: 0%;
  z-index: 6;
  color: white;
  background-color: #fac967;
  animation-name: colorTrans;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-delay: 45s;
}

#footer {
    display: inherit;
    text-align: center;
}

