body {
  background-color: black;
  width: 100%;
}
header {
  width: 100%;
  background-color: rgb(37, 123, 151);
}
#titleImage {
  position: relative;
  width: 32%;
  left: 34%;
}
#navBar {
  border: 1px solid;
  text-align: center;
  width: 100%;
  background-color: green;
}
.navItems {
  display: inline;
  border: 3%;
  padding: 1%;
  background-color: yellow;
  border: 1px solid green;
}
main {
  background-color: black;
  color: white;
  width: 100%;

}
.ourPics {
  width: 200px;
  height: 200px;
}
#names {
  font-size: 220%;
  left: 3%;
}
td {
  padding-left: 120px;
}
#statement {
  position: absolute;
  padding-top: 5%;
  bottom: 20%;
}
table {
  position: absolute;
  top: 30%;
}
#foot {
  position: fixed;
  padding: 1%;
  width:100%;
  background-color: rgb(37, 123, 151);
  text-align: center;
  bottom: 0%;
  z-index: 6;
}

#footer {
    display: inherit;
    text-align: center;
}