body {
  background-color: black;
}
header {
  width: 100%;
  background-color: rgb(37, 123, 151);
  top: 0%;
  z-index: 7;
}
#titleImage {
  position: relative;
  width: 32%;
  left: 34%;
}
#navBar {
  border: 1px solid;
  text-align: center;
  width: 100%;
  background-color: green;
  z-index: 6;
}
.navItems {
  display: inline;
  border: 3%;
  padding: 1%;
  background-color: yellow;
  border: 1px solid green;
  z-index: 7;
  border-radius: 16px;
}
main {
  background-image: url('../assets/pizzaBack.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 80%;
  width: 100%;

}
#orderingBox {
  position: relative;
  background-color: black;
  width: 50%;
  height: 700px;
  top: -10px;
  left: 25%;
  z-index: 1;
  color: white;
}
input {
  width: 100px;
  bottom: 8%;
  right: 9%;
  position: absolute;
}
#foot {
  position: relative;
  padding: 1%;
  width:100%;
  background-color: rgb(37, 123, 151);
  text-align: center;
  bottom: 0%;
  z-index: 6;
}

#footer {
    display: inherit;
    text-align: center;
}

.toppings {

}