body {
  background-color: black;
}

h1 {
  color: white;
}

header {
  width: 100%;
  background-color: #33b1ff;
  z-index: 2;
}
#titleImage {
  position: relative;
  width: 32%;
  left: 34%;
}
#navBar {
  position: relative;
  border: 2px solid black;
  text-align: center;
  background-color: #ccc;
  z-index: 2;
}
.navItems {
  position: relative;
  display: inline;
  border: 3%;
  padding: 1%;
  background-color: yellow;
  border-radius: 10px;
  border: 3px solid black;
  z-index: 2;
  font-family: monospace;
  font-size: 13px;
}
main {
  background-image: url('../assets/pizzaBack.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 80%;
  width: 100%;

}
#orderingBox {
  position: relative;
  background-color: black;
  width: 50%;
  height: 700px;
  top: -10px;
  left: 25%;
  z-index: 1;
  color: white;
}
#cancel, #checkoutButton {
  width: 100px;
  bottom: 8%;
  right: 9%;
  position: absolute;
}
#foot {
  position: fixed;
  padding: 1%;
  width:100%;
  background-color: #33b1ff;
  text-align: center;
  bottom: 0%;
  z-index: 6;
  color: white;
}

#footer {
    display: inherit;
    text-align: center;
}

#pizza-dough {
  position: relative;
  left: 25%;
  width: 350px;
  top: 22px;
}
img.sauces {
  z-index: 2;
  position: absolute;
  left: 23%;
  width: 380px;
  bottom: 105px;
}
img.cheeses {
  z-index: 3;
  position: absolute;
  left: 29%;
  width: 295px;
  bottom: 145px;
}
img.toppings {
  z-index: 4;
  position: absolute;
  left: 23%;
  width: 370px;
  bottom: 85px;
}