
h1 {
  position: relative;
  font-size: 32px;
  background-color:  yellow;
  font-family: monospace;
  display: inline-block;
  left: 32%;
  top: 100px;
  z-index: 3;
}

header {
  position: absolute;
  background-color: #33b1ff;
  z-index: 2;
}
#titleImage {
  position: relative;
  width: 32%;
  left: 34%;
}
#navBar {
  position: relative;
  border: 2px solid black;
  text-align: center;
  background-color: #ccc;
  z-index: 2;
}
.navItems {
  position: relative;
  display: inline;
  border: 3%;
  padding: 1%;
  background-color: yellow;
  border-radius: 10px;
  border: 3px solid black;
  z-index: 2;
  font-family: monospace;
  font-size: 13px;
}

main {
  background-image: url('../assets/pizzaLine.JPG');
  background-repeat: no-repeat;
  background-size: cover;
}

input {
     font-size: 15px;
    background-color: yellow;
    font-family: monospace;
    margin-right: 17px;
    margin-bottom: 7px;
    position: relative;
    border-radius: 10px;
    width: 100px;
    bottom: 8%;
    right: 9%;
    position: absolute;
}

#orderingBox {
  position: relative;
  width: 60%;
  height: 550px;
  left: 20%;
  background-image: url(../assets/cutting-board-2693412_960_720.jpg);
  background-size: cover;
  color: black;
  border-right: black 5px solid;
  border-left: black 5px solid;
}

#checkoutButton {
  bottom: 11%;
  right: 35%;
  position: absolute;
  border-radius: 28px;
  margin-top: 15%;
  font-size: 24px;
  background-color:  yellow;
  font-family: monospace;
  display: inline-block;
}

#cancel {
  bottom: 4%;
  right: 36.5%;
  position: absolute;
  border-radius: 28px;
  margin-top: 15%;
  font-size: 12px;
  background-color:  yellow;
  font-family: monospace;
  display: inline-block;
}

#foot {
  position: absolute;
  padding-top: 1%;
  padding-bottom: 11px;
  background-color: #33b1ff;
  text-align: center;
  width: 100%;
  bottom: 0px;
}

#footer {
    position: relative;
    display: inherit;
    text-align: center;
    top: 90%;
    width: 100%;
}

#pizza-dough {
  position: relative;
  left: 59%;
  width: 350px;
  top: 79px;
}
img.sauces {
  z-index: 2;
  position: absolute;
  left: 57%;
  width: 380px;
  bottom: 105px;
}
img.cheeses {
  z-index: 3;
  position: absolute;
  left: 62%;
  width: 295px;
  bottom: 150px;
}
img.toppings {
  z-index: 4;
  position: absolute;
  left: 59%;
  width: 370px;
  bottom: 85px;
}

ul#toppingList {
	display: inline-block;
  position: relative;
  left: 25%;
  top: 300px;
  font-size: 26px;
  overflow: auto;
  font-family: monospace;
  text-align: center;
  z-index: 4;
  width: 400px;

}