header {
    width: 100%;
    z-index: 2;
    background-color: #33b1ff;
}
#titleImage {
    position: relative;
    left: 68vh;
    height: 11vh;
    width: 28vw;
    z-index: 3;
}
#navBar {
    position: relative;
    border: 2px solid black;
    text-align: center;
    z-index: 2;
    width: 100%;
    background-color: #ccc;
}
.navItems {
    position: relative;
    display: inline;
    border: 3%;
    padding: 1%;
    border-radius: 1vh;
    border: 3px solid black;
    z-index: 2;
    font-family: monospace;
    font-size: 1em;
    font-weight: bold;
    background-color: #fbff00;
}
main {
    background-image: url(../assets/pizzaOven.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 79vh;
    width: 100%;
}
#foot {
    position: relative;
    padding: 1%;
    width: 100%;
    text-align: center;
    bottom: 0vh;
    height: 4vh;
    z-index: 6;
    background-color: #33b1ff;
}
#footer {
    display: inherit;
    text-align: center;
}