header {
    width: 100%;
    z-index: 2;
    background-color: #88d1f5;
    animation-name: colorTrans;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
  }
  #titleImage {
    position: relative;
    left: 68vh;
    height: 11vh;
    width: 28vw;
    z-index: 3;
  }
  button[value="remove"] {
    visibility: hidden;
    margin-right: 20px;
    margin-left: 5px;
    position: relative;
    bottom: 10px;
    border-radius: 16px;
  }
  @keyframes colorTrans {
    0% {background-color: #88d1f5;}
    25% {background-color: #8d88f5;}
    50% {background-color: #ff3928;}
    75% {background-color: #fac967;}
    100% {background-color: #88d1f5;}
  }
  #navBar {
    position: relative;
    border: 2px solid black;
    text-align: center;
    z-index: 2;
    width: 100%;
    background-color: #8d88f5;
    animation-name: colorTrans;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: 5s;
  }
  .navItems {
    position: relative;
    display: inline;
    border: 3%;
    padding: 1%;
    border-radius: 1vh;
    border: 3px solid black;
    z-index: 2;
    font-family: monospace;
    font-size: 1em;
    font-weight: bold;
    background-color: #ff3928;
    animation-name: colorTrans;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: 10s;
  }
  main {
    background-image: url(../assets/turtle.jpg);
    background-repeat: repeat;
    background-size: cover;
    position: relative;
    height: 76vh;
    width: 100%;
  }
  div#pizza-preview {
    width: 85vw;
    position: absolute;
    display: block;
    top: 0vh;
    height: 79vh;
    left: 9vh;
    background-image: url(../assets/cutting-board-2693412_960_720.jpg);
    z-index: 0;
    border-right: black 5px solid;
    border-left: black 5px solid;
  }
  img#yourDough {
    position: relative;
    left: 31vw;
    width: 20vw;
    top: 10vh;
  }
  img.sauces {
    z-index: 2;
    position: absolute;
    left: 30vw;
    width: 22vw;
    bottom: 30vh;
  }
  img.cheeses {
    z-index: 3;
    position: absolute;
    left: 32.5vw;
    width: 17vw;
    bottom: 35vh;
  }
  img.toppings {
    z-index: 4;
    position: absolute;
    left: 31vw;
    width: 20vw;
    bottom: 30vh;
  }

  img#ourDough {
    position: relative;
    left: 40vw;
    width: 20vw;
    top: 10vh;
  }
  img.ourSauces {
    z-index: 2;
    position: absolute;
    left: 40vw;
    width: 22vw;
    bottom: 30vh;

  }
  img.ourCheeses {
    z-index: 3;
    position: absolute;
    left: 40vw;
    width: 22vw;
    bottom: 30vh;

  }
  img.ourToppings {
    z-index: 4;
    position: absolute;
    left: 40vw;
    width: 22vw;
    bottom: 30vh;
  }
  table {
    position: relative;
    top: -25vh;
    left: 2vw;
  }
  tbody {
    display: block;
    position: relative;
    overflow: auto;
    height: 78vh;
    left: 1vw;
    top: -12vh;
    background-image: url(../assets/cutting-board-2693412_960_720.jpg);
    border-right: black 5px solid;
    border-left: black 5px solid;
    z-index: 0;
    font-size: 2em;
    font-weight: 600;
    font-family: monospace;
    text-align: center;
  }
  td {
    border-bottom: black 3px solid;
  }
  th.toppingType {
    color: yellow;
    padding-bottom: 5px; 
    font-family: monospace;
    font-size: 25px;
    border-bottom: black 3px dashed;
  }
  button.sauces {
    font-size: 15px;
    font-family: monospace;
    margin-right: 17px;
    margin-bottom: 7px;
    position: relative;
    border-radius: 10px;
    background-color: #ff3928;
    animation-name: colorTrans;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: 10s;  
  }
  button.cheeses {
    font-size: 15px;
    font-family: monospace;
    margin-top: 20px;
    margin-right: 17px;
    margin-bottom: 7px;
    position: relative;
    border-radius: 10px;
    background-color: #ff3928;
    animation-name: colorTrans;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: 10s;
  }
  button.toppings {
    font-size: 15px;
    font-family: monospace;
    margin-top: 20px;
    margin-right: 17px;
    margin-bottom: 7px;
    position: relative;
    border-radius: 10px;
    background-color: #ff3928;
    animation-name: colorTrans;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: 10s;
  }
  img {
    right: 13px;
    position: relative;
    width: 25px;
  }

  #orderCenter {
    position: relative;
    text-align: center;
    bottom: 58vh;
    width: 55vw;
    left: 30vw;
  }
  #yourPizza, #ourPizza, #yourAnswer, #orderPizza {
    border-radius: 1em;
    margin-top: 0%;
    font-size: 3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-family: monospace;
    display: inline-block;
    position: relative;
  }
  #yourPizza {
    left: -2vw;
    background-color: #88d1f5;
    animation-name: colorTrans;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
  }

  #ourPizza {
    left: 6vw;
    background-color: #8d88f5;
    animation-name: colorTrans;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: 5s;
  }
  #yourAnswer {
    top: 2vh;
    left: -3vw;
    background-color: #ff3928;
    animation-name: colorTrans;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: 10s;
  }
  #orderPizza {
    top: 5vh;
    left: -3vw;
    background-color: #fac967;
    animation-name: colorTrans;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: 15s;
    bottom: 0%;
  }
  a.button {
    position: relative;
    left: 25%;
    border-radius: 10px;
  }
  
  #yellowButton {
    font-size: 15px;
    background-color: yellow;
    font-family: monospace;
    margin-right: 17px;
    margin-bottom: 7px;
    position: relative;
    border-radius: 10px;
    width: 100px;
    bottom: 8%;
    right: 9%;
    position: absolute;
  }
  #foot {
    position: fixed;
    padding: 1%;
    width: 100%;
    text-align: center;
    bottom: 0vh;
    height: 7vh;
    z-index: 6;
    background-color: #fac967;
    animation-name: colorTrans;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: 15s;
    bottom: 0%;
  }
  #greenFoot {
    position: relative;
    border: 2px solid black;
    height: 17px;
    bottom: 20px;
    z-index: 2;
    background-color: #8d88f5;
    animation-name: colorTrans;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: 5s;
  }
  
  #footer {
      position: relative;
      display: inherit;
      text-align: center;
      top: 90%;
      width: 100%;
  }