header {
  width: 100%;
  background-color: #33b1ff;
  z-index: 2;
}
#titleImage {
  position: relative;
  width: 32%;
  left: 34%;
}
button[value="remove"] {
  visibility: hidden;
  margin-right: 20px;
  margin-left: 5px;
  position: relative;
  bottom: 10px;
  border-radius: 16px;
}

#navBar {
  position: relative;
  border: 2px solid black;
  text-align: center;
  background-color: #ccc;
  z-index: 2;
}
#greenFoot {
  position: relative;
  border: 2px solid black;
  height: 17px;
  bottom: 20px;
  background-color: #ccc;
  z-index: 2;
}
.navItems {
  position: relative;
  display: inline;
  border: 3%;
  padding: 1%;
  background-color: yellow;
  border-radius: 10px;
  border: 3px solid black;
  z-index: 2;
  font-family: monospace;
  font-size: 13px;
}
main {
  background-image: url(../assets/orderPageBackground.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; 
}
div#pizza-preview {
  width: 700px;
  position: absolute;
  display: block;
  top: 165px;
  height: 490px;
  left: 40%;
  background-image: url(../assets/cutting-board-2693412_960_720.jpg);
  z-index: 0;
  border-right: black 5px solid;
  border-left: black 5px solid;
}
img#dough {
  position: relative;
  left: 25%;
  width: 350px;
  top: 22px;
}
img.sauces {
  z-index: 2;
  position: absolute;
  left: 23%;
  width: 380px;
  bottom: 105px;
}
img.cheeses {
  z-index: 3;
  position: absolute;
  left: 29%;
  width: 295px;
  bottom: 145px;
}
img.toppings {
  z-index: 4;
  position: absolute;
  left: 23%;
  width: 370px;
  bottom: 85px;
}
button#checkout {
  position: relative;
  left: 44%;
  top: 86px;
}
tbody {
  display: block;
  position: relative;
  overflow: auto;
  height: 490px;
  left: 19%;
  background-image: url(../assets/cutting-board-2693412_960_720.jpg);
  border-right: black 5px solid;
  border-left: black 5px solid;
  z-index: 0;
  font-size: 25px;
  font-weight: 600;
  font-family: monospace;
  text-align: center;
}
td {
  border-bottom: black 3px solid;
}
th.toppingType {
  color: yellow;
  padding-bottom: 5px; 
  font-family: monospace;
  font-size: 25px;
  border-bottom: black 3px dashed;
}
 button.sauces {
  font-size: 15px;
  background-color: yellow;
  font-family: monospace;
  margin-right: 17px;
  margin-bottom: 7px;
  position: relative;
  border-radius: 10px;
  
 }
 button.cheeses {
  font-size: 15px;
  background-color: yellow;
  font-family: monospace;
  margin-top: 20px;
  margin-right: 17px;
  margin-bottom: 7px;
  position: relative;
  border-radius: 10px;
 }
 button.toppings {
  font-size: 15px;
  background-color: yellow;
  font-family: monospace;
  margin-top: 20px;
  margin-right: 17px;
  margin-bottom: 7px;
  position: relative;
  border-radius: 10px;
 }
img {
  right: 13px;
  position: relative;
  width: 25px;
}
#orderButton {
  border-radius: 28;
  margin: 10%;
  font-size: 30px;
  background-color:  yellow;
  font-family: monospace;
  border-radius: 10px;
}

a.button {
  position: relative;
  left: 25%;
  border-radius: 10px;
}

#foot {
  position: relative;
  padding-top: 1%;
  padding-bottom: 11px ;
  background-color: #33b1ff;
  text-align: center;
}

#footer {
    position: relative;
    display: inherit;
    text-align: center;
    top: 90%;
    width: 100%;
}