
header {
  width: 100%;
  background-color: rgb(37, 123, 151);
  top: 0%;
  position: relative;
  z-index: 2;
}
#titleImage {
  position: relative;
  width: 32%;
  left: 34%;
}
#navBar {
  border: 1px solid;
  text-align: center;
  background-color: green;
  padding: 1.5%;
}

button[value="remove"] {
  visibility: hidden;
}

.navItems {
  display: inline;
  border: dashed;
  padding: .5%;
  background-color: yellow;
  border: 1px solid green;
  border-radius: 16px;
}
main {
  background-image: url(../assets/orderPageBackground.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; 
  height: 690px;
}
div#pizza-preview {
  top: 172px;
  display: block;
  position: absolute;
  height: 550px;
  width: 700px;
  left: 40%;
  background-image: url(../assets/cutting-board-2693412_960_720.jpg);
  z-index: 0;
}
img#dough {
  position: relative;
  left: 25%;
  width: 350px;
  top: 65px;
}
img.sauces {
  z-index: 2;
  position: absolute;
  left: 23%;
  width: 380px;
  bottom: 118px;
}
img.cheeses {
  z-index: 3;
  position: absolute;
  left: 29%;
  width: 300px;
  bottom: 160px;
}
img.toppings {
  z-index: 4;
  position: absolute;
  left: 23%;
  width: 370px;
  bottom: 100px;
}

tbody {
  display: block;
  position: relative;
  overflow: auto;
  top: 10px;
  height: 490px;
  left: 19%;
  background-image: url(../assets/cutting-board-2693412_960_720.jpg);
}

#orderCenter {
  text-align: center;
}

#orderButton, #cancelButton {
  border-radius: 28px;
  margin-top: 15%;
  font-size: 30px;
  padding-left: 8px;
  padding-right: 8px;
  background-color:  yellow;
  font-family: monospace;
  display: inline-block;
  position: relative;
  bottom: 10px;
}

#foot {
  position: relative;
  padding-top: 1%;
  padding-bottom: 1%;
  margin: 0;
  width:100%;
  background-color: rgb(37, 123, 151);
  text-align: center;
  bottom: 0%;
  z-index: 6;
}

#footer {
    display: inherit;
    text-align: center;
}