main {
  background-image: url('../assets/pizzaOven.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 80%;
  width: 100%;
}

header {
  width: 100%;
  background-color: #33b1ff;
  z-index: 2;
}
#titleImage {
  position: relative;
  width: 32%;
  left: 34%;
}

#orderButton {
  margin: 10%;
  position: relative;
  font-size: 30px;
  background-color: yellow;
  bottom: 85px;
  left: -2%;
  font-family: monospace;
}
#navBar {
  position: relative;
  border: 2px solid black;
  text-align: center;
  background-color: #ccc;
  z-index: 2;
}
.navItems {
  position: relative;
  display: inline;
  border: 3%;
  padding: 1%;
  background-color: yellow;
  border-radius: 10px;
  border: 3px solid black;
  z-index: 2;
  font-family: monospace;
  font-size: 13px;
}
main {
  background-color: black;
  color: white;
  width: 100%;
}

#placeOrder {
  text-align: center;
}
div#orderCenter {
  position: relative;
  right: -2%;
  text-align: -webkit-center;
  z-index: 6;
}
#board {
  background-image: url(../assets/cutting-board-2693412_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transform: rotate(90deg);
  width: 1000px;
  height: 1000px;
  bottom: 376px;
  left: 21%;
  z-index: 0;
}
@keyframes spinningPizza {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
#pizzaPunk {
  position: relative;
  /* bottom: 60%; */
  top: 12%;
  left: 20%;
  /* right: 24%; */
  width: 750px;
  transform: rotate(0deg);
  animation-name: spinningPizza;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: 2;
}

#foot {
  position: fixed;
  padding: 1%;
  width:100%;
  background-color: #33b1ff;
  text-align: center;
  bottom: 0%;
  z-index: 6;
  color: white;
}

#footer {
    display: inherit;
    text-align: center;
}