header {
  width: 100%;
  z-index: 2;
  background-color: #33b1ff;
}
#titleImage {
  position: relative;
  left: 68vh;
  height: 11vh;
  width: 28vw;
  z-index: 3;
}

#navBar {
  position: relative;
  border: 2px solid black;
  text-align: center;
  z-index: 2;
  background-color: #ccc;
  width: 100%;
}
.navItems {
  position: relative;
  display: inline;
  border: 3%;
  padding: 1%;
  border-radius: 1vh;
  border: 3px solid black;
  z-index: 2;
  font-family: monospace;
  font-size: 1em;
  font-weight: bold;
  background-color: #fbff00;
}

.navItems>a {
  text-decoration: none;
}

main {
  background-image: url(../assets/pizzaOven.jpg);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  height: 79vh;
  width: 100%;
}

#orderButton {
  position: relative;
  margin: 1%;
  font-size: 1.3em;
  top: -55vh;
  left: 19vw;
  width: 15vw;
  height: 4vh;
  border-radius: 43%;
  font-family: monospace;
  background-color: #fbff00;
  z-index: 8;
}
#placeOrder {
  text-align: center;
}
#board {
  background-image: url(../assets/cutting-board-2693412_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 53vw;
  height: 78vh;
  top: 0vh;
  left: 24vw;
  z-index: -0;
}
@keyframes spinningPizza {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
#pizzaPunk {
  position: relative;
  top: 11vh;
  left: -7vw;
  width: 35vw;
  transform: rotate(0deg);
  animation-name: spinningPizza;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: 2;
}
#foot {
  position: fixed;
  padding: 1%;
  width:100%;
  text-align: center;
  bottom: 0%;
  z-index: 6;
  background-color: #33b1ff;
}

#footer {
    display: inherit;
    text-align: center;
}